body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    line-height: 250px;
    text-align: center;
    color: darkblue;
    font-size: 100px;
    font-weight: 400;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.carousel .card-1 {
    background: #5BA19B;
}

.carousel .card-2 {
    background: #FCEAEA;
}

.carousel .card-3 {
    background: #F5D9D9;
}

.carousel .card-4 {
    background: #D1F6C1;
}

.carousel .card-5 {
    background: #EF962D;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background: #d6d6d6 !important;
    border: 2px solid #d6d6d6 !important;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;

}

.owl-dot:hover,
.owl-dot:active {
    background: #869791 !important;
    border: 2px solid #869791 !important;
}