/* Styles for all elements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Root CSS variables */
:root{
    /* Theme background colors */
    --theme_bg_light: ;
    --theme_bg_dark: ;
    
    /* Foreground (fg) colors for light theme  */
    --theme_fg_light_one: ;
    --theme_fg_light_two: ;
    --theme_fg_light_three: ;

    /* Foreground (bg) colors for dark theme  */
    --theme_fg_dark_one: #ffd523;
    --theme_fg_dark_two: #b2b1b9;
    --theme_fg_dark_three: ;
}