/* Styles for all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Root CSS variables */
:root {
  /* Theme background colors */
  --theme_bg_light: ;
  --theme_bg_dark: ;

  /* Foreground (fg) colors for light theme  */
  --theme_fg_light_one: ;
  --theme_fg_light_two: ;
  --theme_fg_light_three: ;

  /* Foreground (bg) colors for dark theme  */
  --theme_fg_dark_one: #ffd523;
  --theme_fg_dark_two: #b2b1b9;
  --theme_fg_dark_three: ;

  /* Fonts */
  --heading_font: "Zen Tokyo Zoo", cursive;
  --content_font: "Raleway", sans-serif;
}

body {
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-color: #000000 !important; */

background-color: black !important;
  font-family: "Raleway";
}

.bg-blur {
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.0px);
  -webkit-backdrop-filter: blur(2.0px);
  z-index: 500;
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  ;
}

.fade-bg {
  opacity: 0.5;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.animate-height-zero {
  background-color: #ffd523;
  max-height: 100px !important;
  transition: max-height 500ms ease-in !important;
  overflow: hidden;
}

/* contact us */
.contact-us-div {
  /* font-size: 1rem; */
  text-align: center;
  margin: auto;
  width: fit-content;
}

.contact-us-div form {
  width: min-content;
  max-width: 65ch;
  max-height: fit-content;
  transition: max-height 0.25s ease-out;

}

.contact-us-div form input {
  width: 100%;
  margin: 1rem 0;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.contact-us-div form textarea {
  background-color: white;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 5px;

}

#contact-us button.contact-btn {
  margin: 1rem auto;
  background-color: #ffd523;
  border-radius: 0;

}

/* toast thingy */
.toast-card {
  width: fit-content;
  padding: 2px 10px;
  color: #96f19e;
  border-radius: 10px;
  background-color: #22241b;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1200;
}